/* 
    Created on : 16-sep-2019, 14:19:19
    Author     : RVS
*/

/*
* Distribucion de elementos usando la propiedad float
*
*/

.container-float{
  text-align: center;
  padding: 0.5%;
  border: 1px solid #000;
}

.container-float:after{
  content: "";
  display: table;
  clear: both;
}

.left-float{
  float: left;
}

.center-float{
  margin: 0 auto;
  display: inline-block;
}

.right-float{
  float: right;
}
