
body {
  background: rgba(140, 0, 255, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(143, 0, 114, 1) 52%,
    rgba(140, 0, 255, 1) 100%
  );

  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(140, 0, 255, 1)),
    color-stop(52%, rgba(143, 0, 114, 1)),
    color-stop(100%, rgba(140, 0, 255, 1))
  );

  background: -webkit-linear-gradient(
    -45deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(143, 0, 114, 1) 52%,
    rgba(140, 0, 255, 1) 100%
  );

  background: -o-linear-gradient(
    -45deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(143, 0, 114, 1) 52%,
    rgba(140, 0, 255, 1) 100%
  );

  background: -ms-linear-gradient(
    -45deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(143, 0, 114, 1) 52%,
    rgba(140, 0, 255, 1) 100%
  );

  background: linear-gradient(
    135deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(143, 0, 114, 1) 52%,
    rgba(140, 0, 255, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c00ff', endColorstr='#8c00ff', GradientType=1 );
}
