@import "css-grid-new-layout-items.scss";

.main , 
.main-start{
    margin: 10px;
    width: 650px;
    height: 500px;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 150px 150px 150px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    gap: 2px;
}

.main{
    justify-content: space-evenly;
    align-content: center;
}

.main-start{
    justify-content: start;
    align-content: start;
}

.header,
.header-s,
.content,
.content-s,
.aside,
.aside-s,
.footer,
.footer-s
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    border: 2px dashed #fff;
}

.header,
.header-s
{
    grid-row: 1;
    grid-column: 1 / 3;
    background: rgb(214, 56, 90);
}

.content,
.content-s
{
    grid-row: 2;
    grid-column: 1;
    background: rgb(23, 184, 63);
}

.aside,
.aside-s
{
    grid-row: 2;
    grid-column: 2;
    background: rgb(151, 160, 21);
}

.footer,
.footer-s {
    grid-row: 1 / 3;
    grid-column: 3;
    background: rgb(33, 165, 136);
}
 