@media screen and (min-width: 375px) and (max-width: 424px){

    .grid-1 {
        display: grid;
        width: 95%;
        margin: 10% auto;

        grid-template-columns: 1fr;
        grid-template-rows: 80px auto auto 80px;
        grid-gap: 10px;

        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
        text-align: center;
        background: #4794bb;
        border: 5px solid hotpink;
    }

    /* Items */

    .grid-1 div {
        color: #000;

        font-weight: bolder;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #000;
    }

    .item-1 {
        background: #b03532;
        grid-area: header;
    }

    .item-2 {
        grid-area: main;

        display: grid;

        grid-template-columns: 1fr 30%;
        grid-template-rows: auto auto;
        grid-gap: 20px;

        grid-template-areas:
            "header header"
            "article sidebar";

        background: yellowgreen;
    }

    .item-3 {
        background: #30997a;
        grid-area: sidebar;
    }

    .item-4 {
        background: #30997a;
        grid-area: footer;
    }

    .item-5 {
        background: #30997a;
        grid-area: header;
    }

    .item-6 {
        background: #30997a;
        grid-area: article;
    }

    .item-7 {
        background: #30997a;
        grid-area: sidebar;
    }
}