@media screen and (min-width: 375px) and (max-width: 424px){

    section{
        margin: 0 auto;
    }

    .grid-1 {
        display: grid;
        width: 95%; 
        margin: 1% auto;

        grid-template-columns: 1fr;
        grid-template-rows: 80px auto auto 80px;
        grid-gap: 10px;

        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
        background: #4794bb;
        border: 5px solid hotpink;
    }

    /* Items */

    .grid-1 div {
        color: #000;

        padding: 10px;
        border: 1px solid #000;
    }

    .item-1 {
        background: #b03532;
        grid-area: header;
    }

    .item-2 {
        grid-area: main;
        display: grid;
        width: auto;
        height: 300px;

        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 20px;

        grid-template-areas:
            "into-article"
            "into-article-2"
            "into-sidebar";
        background: yellowgreen;
    }

    .item-3 {
        background: thistle;
        grid-area: sidebar;
    }

    .item-4 {
        background: #b03532;
        grid-area: footer;
    }

    .item-5 {
        background: #30997a;
        grid-area: into-article;
    }

    .item-6 {
        background: #30997a;
        grid-area: into-article-2;
    }

    .item-7 {
        background: #30997a;
        grid-area: into-sidebar;
    }
}