
@media screen and (min-width: 1024px) and (max-width: 1440px){

    body{
        background: #000;
    }

    section{
        display: grid;
        justify-items: stretch;
        justify-content: stretch;
        align-items: center;
    }

    .grid-1 {
        margin: 0 auto;
    }

    .item-1{
        height: 100px;
    }

    .item-4{
        height: 200px;
        text-align: center;
        font-size: 4em;

        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    
    .item-3{
        height: 460px;
    }

    .item-4{
        width: auto;
        height: 100px;
    }

}