* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background: #10282c;;
    color: #fff;
}

/* Diseño "Mobile First" */
.hero-title {
    grid-area: title;
    background: #8fbc27;
    font-size: 3.5em;
    text-align: center;
}

.hero-date {
    grid-area: date;
    background: #e2257d;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    
    font-size: 4em;
}

.hero-list {
    grid-area: list;
    background: #4475b2;

}

.hero-img {
    grid-area: img-hero;
    background: #493a33;
}

.hero-img-2{
    width: 400px;
    height: auto;
    background: #e2257d;
}

.hero {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "title"
        "date"
        "list"
        "img-hero";
}

.img-small {
    grid-row: 1;
    background: springgreen;
}

.img-med-vert {
    grid-row: 2;
    background: coral
}

.img-med-horz {
    grid-column: 2;
    background: steelblue;
}

.img-big {
    grid-row: 2;
    grid-column: 2;
    background: violet;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: 175px;
    grid-auto-flow: dense;
}


@media only screen and (min-width: 500px) {

    .hero {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "date title"
            "date list"
            "img-hero img-hero";
    }
}

@media only screen and (min-width: 900px) {

    .hero {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "date title title"
            "date list img-hero";
    }
}
