/* 
    Created on : 06-oct-2019, 23:22:03
    Author     : RVS
*/

body{
  font-family: Roboto , sans-serif;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: auto;
  padding: 1%;
}

.title{
  width: 80%;
  height: inherit;
  margin: 1% auto;
  text-align: center;
  background-color: #8bbabb;
  padding: 1%;
}

.subtitle-left ,
.subtitle-right {
  width: 46%;
  height: auto;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #6c7b95;
}

.subtitle-left {
  float: left;  
}

.subtitle-right {
  float: right;  
}

.paragraph-left {
  width: 46%;
  height: auto;
  float: left;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #6c7b95;
}

.paragraph-right {
  width: 46%;
  height: auto;
  float: right;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #6c7b95;

}