*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 360px){
/* contenedor principal */
.grid-wrapper{
    /* Define el tama単o del contenedor principal */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "aside"
    "article"
    "footer";

    color: #fff;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header{
    grid-area: header;

    font-size: 2.5em;
    text-align: left;
    background: darkorchid;
    padding: 0 0 0 10px;
}

aside{  
    grid-area: aside;
    background-color: #5eb7b5;
}

.h1-aside , .h1-article{
    margin: 10px 0;
    font-family: Roboto , sans-serif;
    text-align: center;
 }

 .title-aside{
    text-align: center;
 }

 .p-aside{
    text-align: center;
 }

p{
    padding: 10px;
    margin: 5px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    grid-area: article;

    background-color: #fc7978;

    display: flex;
    flex-flow: column wrap;

}

.h1-article{
    color: #fff;
}

.title-article {
    text-align: center;
    flex: 0 1 auto;
}   

.p-article{
    color: #fff;
    font-weight: bolder;
}

.flex-wrapper{
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

span{
    display: block;
}

.image{
    flex: 0 1 auto;
    margin: 20px 0;
}

.logo{
    display: block;
    width: 100%;
    height: auto;
}

footer{
    padding: 10px;
    grid-area: footer;
    
    font-size: 3em;
    background: #96d1c7;
}
    
}

@media only screen and (min-width: 361px) and (max-width: 767px) {

/* contenedor principal */
.grid-wrapper{
    /* Define el tama単o del contenedor principal */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "aside"
    "article"
    "footer";

    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    grid-area: header;
    font-size: 2.5em;
    background: darkorchid;
}

aside{  
    grid-area: aside;
    background-color: #5eb7b5;
}

.h1-aside , .h1-article{
    margin: 10px 0px;
    font-family: Roboto , sans-serif;
    text-align: center;
 }

p{
    margin: 5px;
    padding: 10px;
    color: white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    grid-area: article;

    background-color: #fc7978;

    display: flex;
    flex-flow: column wrap;

}

.title-article {
    flex: 0 1 auto;
}   

.p-article{
    font-weight: bold;
}

.flex-wrapper{
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.image{
    flex: 0 1 auto;
    margin: 15px 0px;
}

.logo{
    display: block;
    width: 100%;
    height: auto;
}

footer{
    grid-area: footer;
    
    font-size: 3em;
    background: #96d1c7;
    }
}

@media only screen and (min-width:  768px) and (max-width: 1280px) {
/* contenedor principal */
.grid-wrapper{
    /* Define el tama単o del contenedor principal */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 18fr 16fr 2fr;
    grid-template-areas: 
    "header header"
    "aside article"
    "aside article"
    "footer footer";

    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header{
    grid-area: header;
    text-align: left;
    font-size: 2.5em;
    background: darkorchid;
}

aside{  
    grid-area: aside;

    background-color: #5eb7b5;
}

.h1-aside , .h1-article{
    margin: 10px 0;
    font-family: Roboto , sans-serif;
    text-align: center;
 }

 .title-aside{
    text-align: center;
 }

 .p-aside{
    text-align: left;
 }

p{
    padding: 10px;
    margin: 5px;
    color: white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    grid-area: article;

    background-color: #fc7978;

    display: flex;
    flex-flow: column wrap;

}

.title-article {
    flex: 0 1 auto;
}   

.p-article{
    font-weight: bold;
}   

.flex-wrapper{
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.image{
    flex: 0 1 40%;
    margin: 5px;
}

.logo{
    display: block;
    width: 100%;
    height: auto;
}

footer{
    grid-area: footer;
    
    font-size: 3em;
    background: #96d1c7;
}
}

@media only screen and (min-width: 1281px){

    /* contenedor principal */
.grid-wrapper{
    /* Define el tama単o del contenedor principal */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 50fr 20fr 12fr;
    grid-template-areas: 
    "header header header"
    "aside article article"
    "aside article article"
    "footer footer footer";

    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif

}

header{
    grid-area: header;

    text-align: left;
    font-size: 2.5em;
    background: darkorchid;
}

aside{  
    grid-area: aside;

    background-color: #5eb7b5;
}

.h1-aside , .h1-article{
    margin: 10px 0;
    font-family: Roboto , sans-serif;
    text-align: center;
 }

 .title-aside{
    text-align: center;
 }

 .p-aside{
    text-align: left;
 }

p{
    padding: 10px;
    margin: 5px;
    color: white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    grid-area: article;

    background-color: #fc7978;

    display: flex;
    flex-flow: column wrap;

}

.title-article {
    flex: 0 1 auto;
}   

.p-article{
    text-align: left;
}

.flex-wrapper{
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: left;
}

.image{
    flex: 0 1 auto;
    margin: 5px;
}

.logo{
    display: block;
    width: 100%;
    height: auto;
}

footer{
    grid-area: footer;
    
    font-size: 3em;
    background: #96d1c7;
}
}



