* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 50vh;
  grid-template-areas:
    "header header header"
    "article nav ads" /* Previously this was "nav article ads" */
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 20% 15%;
  grid-gap: 5px;
}

header,
footer,
article,
nav,
aside {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;
  background: rgb(118, 139, 167);
  color: #fff;
  font-size: 2.5em;
  font-family: "Courier New", Courier, monospace;
}

#mainNav-2 {
  grid-area: nav;
}

#pageHeader-2 {
  grid-area: header;
}

#pageFooter-2 {
  grid-area: footer;
}

#mainArticle-2 {
  grid-area: article;
}

#mainNav-2 {
  grid-area: nav;
}

#siteAds-2 {
  grid-area: ads;
}

.box {
  margin: 5px;
  display: flex;
  width: 100px;
  height: 80px;

  justify-content: center;
  align-items: center;
  border: 1px solid #00f;
}
