* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.grid-item {
  margin: 5px;
  padding: 10px;
  border: 2px solid #000;
}

.grid-container {
  height: 400px;
  display: grid;
  background: lightblue;
  /* grid-template-columns: 50px auto 70px; */
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 150px 200px 80px; */
  grid-template-rows: auto auto auto;
  /* justify-content: center; */
  /* align-content: center; */
  /* grid-column-gap: 20px; */
  /* grid-row-gap: 50px; */
  /* grid-gap: 30px 30px; */
  grid-template-areas:
    "it-1 it-1 it-1"
    "it-3 it-3 ."
    "it-2 it-4 it-5"
    "it-2 it-9 it-5"
    "it-2 it-8 it-5"
    "it-2 it-7 it-6";
}

/* .item1 { */
/* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
/* grid-column: 1/3; */
/* grid-row: 1/3; */
/* grid-area: 1/1/3/3; */
/* } */

.item1 {
  /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
  /* grid-column: 1/3; */
  /* grid-row: 1/3; */
  /* grid-area: 1/1/3/3; */
  grid-area: it-1;
}

.item2 {
  grid-area: it-2;
}

.item3 {
  grid-area: it-3;
}

.item4 {
  grid-area: it-4;
}

.item5 {
  grid-area: it-5;
}

.item6 {
  grid-area: it-6;
}

.item7 {
  grid-area: it-7;
}

.item8 {
  grid-area: it-8;
}

.item9 {
  grid-area: it-9;
}
