*{
    margin: 0;
    padding: 0;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #96d1c7;
    border: 5px solid #00f;
}

aside{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #5eb7b5;
    border: 5px solid #0f0;
}

h4 , h1{
    font-family: Roboto , sans-serif;
 }

p{
    text-transform: capitalize;
    padding: 10px;
    margin: 5px;
}

article{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #fc7978;
    border: 5px solid fuchsia;
}

h1{
    
}

.flex-wrapper{
    display: flex;
    height: 80px;
}

span{
    border: 5px solid #f00;
}

.image{
    flex-grow: 1;
    margin: 5px;
}

footer{
    grid-column: 1/3;
    grid-row: 3/4;
    background: #96d1c7;
    border: 5px solid darkgoldenrod;
}

@media only screen and (max-width: 319px){

    .grid-wrapper{
        display: block;
    }

    .flex-wrapper{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .image{
        display: block;
        height: 100px;
        background: gold;
    }

}

@media only screen and (min-width: 320px) and (max-width: 374px){

    .grid-wrapper{
        display: block;
    }

    .flex-wrapper{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .image{
        display: block;
        height: 100px;
        background: gold;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px){

    .grid-wrapper{
        display: block;
    }

    .flex-wrapper{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .image{
        display: block;
        height: 100px;
        background: gold;
    }

}

@media only screen and (min-width: 425px) and (max-width: 767px){

    .grid-wrapper{
        display: block;
    }

    .flex-wrapper{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .image{
        display: block;
        height: 100px;
        background: gold;
    }

}

/* Pantalla IPADs 768x1024 */
@media only screen and (min-width: 768px) and (max-width: 1023px){

    .grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(min-content,max-content);
        grid-template-areas: 
        "header header"
        "aside article"
        "footer footer";
    }

    header{
        grid-area: header;
    }
    
    aside{
        grid-area: aside;
        align-self: stretch;
    }
    
    p{

    }
    
    article{
        grid-area: article;
        align-self: stretch;
    }
    
    footer , header, h4 , h1 {
     color: #fff;   
    }
    
    .flex-wrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
    }
    
    .image{
        
    }
    
    footer{
        grid-area: footer;
        align-self: stretch;
    }

}

/* Pantalla Notebook & Laptops  */
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    
    
}

/* Pantalla Desktop */
@media only screen and (min-width: 1440px) and (max-width: 1920px){


}