/* 
    Created on : 09-oct-2019, 0:14:31
    Author     : RVS
*/

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: end;
  grid-auto-rows: 200px;
}

.wrapper-grid {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.wrapper-grid > div { 
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

.box-1-grid{
  align-self: stretch;
}

.box-2-grid{
  align-self: start;
}

.box-3-grid{
  
}
