* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Grid Layout */
.container {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas:
    "header header header"
    "article ads nav"
    "footer footer footer";
  grid-template-columns: 1fr 15% 20%;
  grid-template-rows: auto auto auto;
  grid-gap: 2px;
}

#header-page {
  grid-area: header;
}

#main-article {
  grid-area: article;
}

#main-nav {
  grid-area: nav;
}

#aside-right {
  grid-area: ads;
}

#footer-center {
  grid-area: footer;
}

header,
footer,
article,
nav {
  display: flex;
  flex-flow: row wrap;
}

header,
nav {
  justify-content: center;
  align-items: center;

  color: #fff;
  background: rgb(29, 111, 255);
}

aside,
footer {
  border: 5px solid #f3f;
}
