/* Main Design  */

article {
  border: 5px solid turquoise;
}

#main-article {
  width: 100%;
  height: auto;
}

.main-box-article {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row wrap;

  color: #fff;
  font-family: "Special Elite", cursive;
  background-color: rgb(189, 129, 129);
  border: 5px solid yellow;
}

.article-title {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px auto;

  font-size: 100px;
  background-color: rgb(199, 98, 124);
}

/*Contenedor principal*/
.box-center {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row wrap;
  border: 5px solid #00f;
}

/* Subcontenedor izquierdo */
.box-left {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 5px solid #f00;
}

.img-john {
  width: 90%;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
}

#hora {
  color: #f00;
}

.video-basic {
  width: 90%;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
}

/* Subcontenedor derecho */
.box-right {
  width: 50%;
  height: auto;

  display: flex;
  flex-flow: row wrap;
  border: 5px solid #0f0;
}

.box-paragraph {
  padding: 2%;
  font-size: 1em;
  text-align: center;
}
