* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Grid Layout */
.container {
  width: 80%;
  height: auto;

  margin: 0 auto;

  display: grid;
  grid-template-areas:
    "header header header"
    "article ads nav"
    "footer footer footer";
    grid-template-columns: auto 20% 20%;
    grid-template-rows: auto auto auto;
    grid-gap: 2px;
}

#header-page {
  grid-area: header;
}

#main-article {
  grid-area: article;
}

#main-nav {
  grid-area: nav;
}

#aside-right {
  grid-area: ads;
}

#footer-center {
  grid-area: footer;
}

