/* Design Header */
#header-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: auto;
  
  margin: 0 auto;

  color: #fff;
  background: rgb(29, 111, 255);
}

.header {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  border: 1px solid #000;
}

.header-icon{
  width: 10%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  
  padding: 10px;
  margin: 10px;
  flex-basis: 1%;
  flex-grow: 1;
  border: 1px solid #f00;
  flex-grow: 0;
}

.anchor-img{
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
}

.header-input{
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
  align-self: stretch;

  flex-grow: 1;
  flex-basis: 20%;

  border: 1px solid #000;
  
}

.header-form-input{
  display: inline-block; 
  width: 160px;
  height: auto;
  
  margin: 0;
  padding: 10px;
  align-self: baseline;

  color: #505763;
}

.header-search{
  display: inline-block; 
   width: 35px;
   height: 40px;
   align-self: baseline;
 }

 #header-search-color{
  color:#2196F3;
 }

.menu {
  width: auto;
  height: auto;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  
  list-style-type: none;
  border: 1px solid #f00;
  flex-basis: 50%;
} 

.link {
  margin: 10px 5px 10px 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  align-self: baseline;
  border: 1px solid #000;
}

.link-anchor {
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
  align-self: baseline;
}

.header-title {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  font-size: 4em;
  font-family: "Permanent Marker", cursive;
}