article {
  display: flex;
  flex-flow: row wrap;

  border: 5px solid turquoise;
  box-sizing: border-box;
}

#main-article {
  width: auto;
  height: auto;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
  align-content: flex-start;
  
}

.main-box-article {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row wrap;

  color: #fff;
  font-family: "Special Elite", cursive;
  border: 5px solid yellow;
  background-color: rgb(189, 129, 129);
}

.article-title {
  display: block;
  width: auto;
  height: auto;
  padding: 20px 20px 0 20px;
  margin: 10px auto;
  font-size: 3em;
  background-color: rgb(199, 98, 124);
}

/*Contenedor principal*/
.box-center {
  width: 100%;
  height: 90%;

  display: inline-flex;
  flex-flow: row wrap;
  border: 5px solid #00f;
}

/* Subcontenedor izquierdo */
.box-left {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 5px solid #f00;
}

.img-john {
  width: 90%;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
}

.box-video {
  width: 100%;
  height: auto;

  margin: 0 auto;
  padding: 10px;
}

.video-basic {
  width: 90%;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
}

/* Subcontenedor derecho */
.box-right {
  width: 50%;
  height: auto;

  display: flex;
  flex-flow: column wrap;
  border: 5px solid #0f0;
}

.box-right-paragraph {
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  text-align: left;
}

.box-right-line {
  margin: 0 10px;
  width: 95%;
  color: #fff;
}

.box-right-suite-link-readme {
  display: inline-block;
  width: 90%;
  height: auto;
  margin: 5px;
  padding-left: 10px;
}

.box-rightward::after {
  content: " \27A7";
  color: #fff;
}

.box-right-link-read,
.box-right-link {
  display: inline-block;
  width: 48%;
  height: auto;
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.box-right-link-read {
  font-weight: bolder;
}

.box-right-suite-link-share {
  display: flex;
  width: 90%;
  height: auto;

  margin: 10px 10px;
  padding: 5px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  border: 1px solid #f00;
}

.box-right-suite-link-social {
  display: flex;
  width: 100%;
  height: auto;

  margin: 10px 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  border: 1px solid #f00;
}

.box-share {
  display: inline-block;
  padding: 0 4%;
  font-weight: bolder;
}

.box-fa,
.box-tw,
.box-pin {
  width: 110px;
  height: auto;
  margin: 5px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.box-fa {
  background: #3b5998;
}

.box-tw {
  background: #00acee;
}

.box-pin {
  background: #ca2127;
}
