footer{
    box-sizing: border-box;
}

#footer-center {
    width: 70%;
    height: auto;

    margin: 0 auto;
    border: 5px solid #00f;
}

.footer-box-main{
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 1%;
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    align-items: center;

    border: 5px solid #f00;
}

.footer-box-left,
.footer-box-center,
.footer-box-rigth{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    border: 5px solid turquoise;
    flex-basis: 30%;
}

.footer-list{
    width: 80%;
    height: auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

.footer-link{
    width: 100%;
    height: auto;
    margin: 10px auto;

    text-align: center;
    border: 5px solid #0f0;
}

.footer-anchor{
    display: block;
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 0 auto;
    
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: #686f7a;
    border: 1px solid #00f;
    font-family: "Roboto" , sans-serif;
}

.footer-box-down{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
    align-content: center;

    border: 5px solid springgreen;
}

.footer-box-brand{
    width: auto;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    font-size: 1em;
    font-family: "Roboto" , sans-serif;
    border: 5px solid teal;
}

.footer-img-logo{
    display: block;
    width: auto;
    height: auto;
    
    align-self: baseline;
}

.footer-box-text{
    width: auto;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 0 5px;

    color: #686f7a;
    border: 1px solid #f00;
}

#footer-date-year{
    width: auto;
    height: auto;
    padding: 0 5px 0 5px;
}

#footer-film{
    width: auto;
    height: auto;
    padding: 0 5px 0 5px;
}

.footer-box-down-link{
    width: auto;
    height: auto;

    border: 5px solid tomato;
}

.footer-list-down{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;  

    border: 5px solid #0f0;
    list-style-type: none;
}

.footer-link-down{
    border: 1px solid lightpink;
    margin: 5px 10px;
    flex-basis: auto;
}

.footer-anchor-2{
    padding: 5px;
    color: #686f7a;
    font-size: 0.9em;
    font-family: "Roboto" , sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

#hours{
    padding: 10px;
    color: #686f7a;
    font-size: 1em;
    font-family: Roboto , sans-serif;
}

