
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
#container , #container2 , #container3{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
  
.item , .item2 , .item3{
    padding: 5px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 12, 71);
}

.item-1,
.item-2,
.item-3{
    background: teal;
}

.item-1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item-2{
    grid-row: 2;
    grid-column: 3 / 4;
}

.item-3{
    grid-area: 2 / 2 / 3 / 3;
}