*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid: 
    "header header header" 80px
    "main main aside" 350px
    "footer footer footer" 130px / 2fr 100px 1fr;
    gap: 10px;

    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;

    border: 5px solid #f00;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(99, 125, 167);
}

.item-header {
    grid-area: header;
    background-color: paleturquoise;
}

.item-main{
    grid-area: main;
    background-color: darkorange;
}

.item-aside{
    grid-area: aside;
    background-color: khaki;
}

.item-footer{
    grid-area: footer;
    background-color: seagreen;
}
